<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
<script type="text/javascript" src="js/jquery-1.5.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="app.js"></script>
<meta charset="utf-8" />
<title>Jsonp Example</title>

</head>
<body ng-controller="MainCtrl">
	<button ng-click="pushData()">push data</button>
	<span>Server Sent Event Example</span>
	<div id="result" ng-repeat="msg in messages">
		<div ng-bind="msg.owner"></div>
			<span ng-bind="msg.isAutomaticGear" /> 
			 <span ng-bind="msg.brand" /> <span ng-bind="msg.model" /> <span
				ng-bind="msg.engineCapacity" /> <span
				ng-bind="msg.numberOfCylinders" />

		
	</div>
</body>
</html>